@page "/"
<PageTitle>Home</PageTitle>


<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <MapCimponentTest />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <MapCimponentTest />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <MapCimponentTest />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <MapCimponentTest />
            </div>
        </div>
    </div>
</div>