@using Ghak.libraries.GoogleMap.Utils
<h3>@Location.Name</h3>
<p>Latitude = @Location.Latitude</p>
<p>Latitude = @Location.Latitude</p>

@code {
    [Parameter] public required GoogleMapLocation Location { get; set; }
}